@model Your_Ride.ViewModels.BookViewModel.BookVM

<h2>📄 Booking Details</h2>

<table class="table">
    <tr>
        <th>Booking ID</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Time ⏰</th>
        <td>@Model.Time?.TimeOnly.ToString("hh:mm tt")</td>
    </tr>
    <tr>
        <th>Seat No. 🪑</th>
        <td>@Model.SeatId</td>
    </tr>
    <tr>
        <th>Booking Date 📅</th>
        <td>@Model.BookeDateTime.ToShortDateString()</td>
    </tr>
</table>

<a asp-action="GetAllBooks" class="btn btn-primary">🔙 Back</a>
